.hero {
    /*background-image: url('https://images.unsplash.com/photo-1616627984354-08a469b0aa94?auto=format&fit=crop&w=1600&q=80');*/
    background-size: cover;
    background-position: center;
    background-color:rgb(226, 226, 226);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
  }
  
  footer {
    background-color: #d8b59e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;       
    bottom: 0;            
    left: 0;
    width: 100%;          
    z-index: 1000;       
  }
  
  